<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>新增页面</title>
</head>

<body>
  <form action="/users/add" method="post">
    账号：<input type="text" name="account"><br>
    密码：<input type="text" name="password"><br>
    最高分：<input type="text" name="highestscore"><br>
    <input type="submit" value="提交">
  </form>
</body>

</html>